#root {
  font-family: Arial, sans-serif;
  max-width: 100%;
}

html {
  font-size: 13pt;
}

/* Media query for mobile screens */
@media (min-width: 480px) {
  #root {
    max-width: 100%;
  }
  html {
    font-size: 13pt;
  }
}
/* Media query for Tablet screens */
@media (min-width: 481px) and (max-width: 768px) {
  #root {
    max-width: 500px;
    margin: 0 auto;
  }
  html {
    font-size: 11pt;
  }
}
/* Media query for Desktop screens */
@media (min-width: 769px) {
  #root {
    max-width: 700px;
    margin: 0 auto;
  }
  html {
    font-size: 8pt;
  }
}
