#root {
  font-family: Arial, sans-serif;
  max-width: 100%;
}

html {
  font-size: 13pt;
}

/* Media query for mobile screens */
@media (min-width: 480px) {
  #root {
    max-width: 100%;
  }
  html {
    font-size: 13pt;
  }
}
/* Media query for Tablets screens */
@media (min-width: 481px) and (max-width: 1023px) {
  #root {
    max-width: 500px;
    margin: 0 auto;
  }
  html {
    font-size: 11pt;
  }
}
/* Media query for Desktop screens */
@media (min-width: 1024px) {
  #root {
    max-width: 500px;
    margin: 0 auto;
  }
  html {
    font-size: 9pt;
  }
}
