.container {
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  margin: 1.5rem 1rem;
}
.container select {
  border: none;
  border-right: 1rem solid transparent; /* Adds 1rem padding for the dropdown arrow */
  color: #262626;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
}
