.header {
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  text-align: center;
}
.header h1 {
  color: #262626;
  font-size: 26pt;
  font-weight: normal;
  margin: 1rem 0rem;
}
